@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')

body, html, *
    margin: 0
    padding: 0

// Clear
input
  &[type="search"]
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration
      display: none

  &[type=text]
    &::-ms-clear,
    &::-ms-reveal
      display: none
      width: 0
      height: 0

ul, 
ol
    list-style-type: none

a
    text-decoration: inherit
    color: inherit


#__next // app
    min-height: 100vh
    display: grid
    grid-template-rows: min-content auto

    background-color: #0B10E1

    >header
        h1
            font-size: 1.8em
            color: white
            font-family: 'Source Sans Pro', sans-serif
            font-weight: 700
            // text-transform: uppercase
        
        position: sticky
        top: 0
        z-index: 0
        padding: 1.4em

    main
        display: grid
        grid-template-rows: 50px auto
        gap: 1em
        z-index: 1
        
        background-color: white
        border-radius: 42px 42px 0 0
        padding: 0 21px
        width: calc( 100vw - 42px )

        >header
            border-bottom: 1px solid #e2e2ed52 // Todo: ::after with dot under selected

            nav
                display: grid
                grid-template-columns: 1fr 1fr
                jutify-content: center
                align-items: end
                height: 100%

                a
                    font-family: 'Roboto', sans-serif
                    font-weight: 600
                    text-align: center
                    opacity: .5
                    margin-bottom: .8em

                    &.focused
                        opacity: 1

        >form
            display: flex
            flex-direction: column
            gap: 2em
            height: 100%

            h2
                font-family: 'Roboto', sans-serif
                font-weight: 600
                font-size: 1.2em

                margin: 2px 12px

            .by.query
                input // Todo: search circle button on the right
                    font-family: 'Roboto', sans-serif
                    font-weight: 500
                    width: 100%
                    border-radius: 24px
                    padding: 12px 1.2em
                    border: none
                    background-color: #0B10E114

                    &:after
                      content: "test"
                      width: 24px
                      height: 24px
                      background-color: #0B10E1
                      z-index: 2
                      position: relative
                      top: 10px
            
            .by.categories
                nav
                    display: flex
                    flex-flow: row wrap
                    gap: .9em

                    font-size: .9em

                .category // Todo: Add icon
                    font-family: 'Roboto', sans-serif
                    font-weight: 500

                    border-radius: 24px
                    background-color: #0B10E114 // Todo: different colors
                    padding: 12px 1.2em

            .by.media,
            .by.tags
                .media.types,
                .tags
                    display: flex
                    flex-flow: row wrap
                    gap: .9em

                .media.type,
                .tag
                    display: block
                    border-radius: 24px
                    background-color: #0B10E114 // Todo: different colors
                    padding: 12px 1.2em
                    font-family: 'Roboto', sans-serif
                    font-weight: 500
                    font-size: .9em

                    input // Todo: style checkbox
                        margin-left: .5em

                    &.selected
                        background-color: #0B10E1
                        color: white
            
            .tag
                input
                    display: none

            >footer
                margin-top: auto
                margin-bottom: 1em

                display: flex
                justify-content: space-between
                gap: .9em

                button
                    border-radius: 24px
                    background-color: #0B10E114 // Todo: different colors
                    padding: 12px 1.2em
                    font-family: 'Roboto', sans-serif
                    font-weight: 500
                    font-size: .9em
                    border: none
                
                #submit
                    width: 100%
                    background-color: #0B10E1
                    color: white





