@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')

@import 'variables'

body, html, *
    margin: 0
    padding: 0

// Clear
input
  &[type='search']
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration
      display: none

  &[type=text]
    &::-ms-clear,
    &::-ms-reveal
      display: none
      width: 0
      height: 0

ul,
ol
    list-style-type: none

a
    text-decoration: inherit
    color: inherit

// Layout
#__next // app
    min-height: 100vh
    display: grid
    grid-template-rows: 1fr auto 1fr

    background-color: $dark

    >header
        h1
            font-size: 1.8em
            color: white
            font-family: 'Source Sans Pro', sans-serif
            font-weight: 700
        
        position: sticky
        top: 0
        z-index: 0
        padding: 1.4em
    
    >footer
        color: white
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: .9em

    main
        display: grid
        grid-template-rows: 50px auto
        gap: 1em
        z-index: 1
        
        background-color: white
        border-radius: 42px
        padding: 0 21px
        width: calc( 100vw - 42px )

        >header
            border-bottom: 1px solid #e2e2ed52 // Todo: ::after with dot under selected

            nav
                display: grid
                grid-template-columns: 1fr 1fr
                jutify-content: center
                align-items: end
                height: 100%

                a
                    font-family: 'Roboto', sans-serif
                    font-weight: 600
                    text-align: center
                    opacity: .5
                    margin-bottom: .8em

                    &.focused
                        opacity: 1

        >form
            display: flex
            flex-direction: column
            gap: 2em
            height: 100%

            h2
                font-family: 'Roboto', sans-serif
                font-weight: 600
                font-size: 1.2em

                margin: 2px 12px

// Search
.search
    font-size: .9em
    font-family: 'Roboto', sans-serif
    font-weight: 500

    .by.query
        input // Todo: search circle button on the right
            font-family: 'Roboto', sans-serif
            font-weight: 500
            width: 100%
            border-radius: 24px
            padding: 12px 1.2em
            border: none
            outline: none
            background: gradiant()
            color: $light
            max-width: 560px

            &[value=""]
                background: none
                background-color: #0B10E114

            &::placeholder
                color: $faded-text

    .by.categories
        .categories,
        .subcategories
            display: flex
            flex-flow: row wrap
            gap: .9em

        .subcategories
            margin-top: 2px

    .by.media,
    .by.tags
        .media.types,
        .tags
            display: flex
            flex-flow: row wrap
            gap: .9em

    .tag,
    .media.type,
    .category
        input
            display: none

    .category, // Todo: Add icon
    .subcategory > input + label,
    .media.type > input + label,
    .tag > input + label,
    > footer button
        display: flex
        border-radius: 24px
        text-transform: capitalize
        color: $faded-text !important
        background-color: #0B10E114 // Todo: different colors
        padding: 12px 1.2em
        border: none

    .subcategory,
    .media.type,
    .tag
        @for $i from 1 through 20
            &:nth-child(#{$i})
                > input:checked + label
                    background: gradiant($i)

        > input:checked + label
            color: $light !important
            background: $yellow

            &:after
                content: ''
                display: inline-block
                background-image: url('/icons/xmark-solid.svg')
                background-repeat: no-repeat
                background-blend-mode: color
                height: 1.2em
                width: 1.2em
                margin-left: 1em
                align-self: center

        > input:not(:checked) + label
            &:after
                content: ''
                display: inline-block
                background-image: url('/icons/check-solid.svg')
                background-repeat: no-repeat
                background-blend-mode: color
                height: 1.2em
                width: 1.2em
                margin-left: 1em
                align-self: center

    .category .subcategories
        display: none !important

    .category > input:checked ~ .subcategories
            display: flex !important

    >footer
        margin-top: auto
        margin-bottom: 1em

        display: flex
        justify-content: space-between
        gap: .9em

        #submit
            width: 100%
            background-color: #0B10E1
            color: white


// Resources
.resources
    display: flex
    flex-direction: column

    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: .9em
    margin-bottom: 21px

.resource
    padding: 1.2em 1.6em

    display: flex
    flex-direction: column
    gap: .2em

    .title
        font-weight: 600
        font-size: 1.2em

    .description
        color: #00000072

    .source
        display: inline-block

    .media
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        width: 80%

        .type
            font-weight: 00
            color: #0B10E1
            margin-right: .5em

        a
            color: #00000050


// Desktop
@media screen and (min-width: 900px)
    #__next // app
        grid-template-rows: min-content min-content auto min-content
        grid-template-columns: max(120px, 10vw) auto
        grid-template-areas: 'logo header' 'space main' 'space footer'
        gap: 2em
        padding: 2em

        > header
            grid-area: logo
            justify-self: center
            padding: 0
        
        > footer
            color: black
            grid-area: footer

        > main
            display: none !important
            padding: 0
            grid-area: main
            grid-template-rows: 100%
            grid-template-columns: 1fr 1fr
            grid-template-areas: 'left right'
            gap: 7em
            max-width: 1430px
            background: none

            > header
                display: none

            form.search
                footer
                    display: none

    .search,
    .resources
        width: 50vw
        max-width: 600px

    .search
        grid-area: header
        align-self: center

        display: grid
        grid-template-rows: auto auto
        gap: .9em

        h2
            display: none

        .query input,
        .category,
        .media.type label,
        .tag label
            background-color: $faded !important
            //border: 1px solid rgba(0, 0, 0, 0.08) !important

        //.category:hover,
        //.by.subcategories:hover,
        //.subcategory:hover,
        //.media.type label:hover,
        //.media.type > input:checked + label,
        //.tag label:hover,
        //.tag > input:checked + label
        //    //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px

        .media.type label
            padding: .62em 1.2em !important

        .categories
            gap: 1em !important
            margin-top: 1em
            position: relative

        .category
            flex: 1 0 40%
            height: 100px
            border-radius: 12px

            display: flex
            flex-direction: column

            .title
                font-weight: 600
                font-size: 1.2em
                text-transform: capitalize

            .description
                font-weight: 400
                color: $faded-text

        .category.selected
            position: absolute
            width: 100%
            height: auto
            min-height: 100%
            box-sizing: border-box

        .selected.category,
        .by.subcategories,
        .by.tags
            border-radius: 12px
            background-color: $light
            //border: 1px solid rgba(0, 0, 0, 0.08) !important
            padding: 12px 1.2em

            h2,
            > .description
                display: block

            header
                margin-bottom: 1em

            .subcategories
                display: flex !important
                flex-flow: row wrap
                gap: 1em

            .subcategory
                border-radius: 12px
                background-color: white
                border: 1px solid rgba(0, 0, 0, 0.08) !important
                padding: 12px 1.2em
                height: 100px
                flex: 1 0 40%

            .description
                color: $faded-text

    .resources
        gap: 1.6em
        grid-area: main

    .resource
        background-color: white

        border-radius: 12px
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px
        &:hover
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px
