@import 'variables'
@import 'components/all'

// Layout
#__next // App
	min-height: 100vh
	padding: 1.4em
	
	background-color: $dark
	
	display: grid
	grid-template-rows: min-content auto
	gap: 1.4rem
	
	> header // Header
		h1
			font-size: 1.8em
			color: white
			font-family: 'Source Sans Pro', sans-serif
			font-weight: 700
		
	> footer // Footer
		font-size: .9em
		font-family: 'Roboto', sans-serif
		font-weight: 400
		color: $faded-text
		text-align: center
		
// Search
.search,
.resources
	font-size: .9em
	font-family: 'Roboto', sans-serif
	font-weight: 500
	
.search,
.resources .results
	display: flex
	flex-direction: column
	gap: .9rem
	
.by > label,
.by > p,
.resources > header p
	color: $faded-text
	margin-left: 12px // Offset with border radius
	line-height: 1.6em
	
	+tablet
		display: none

.by.categories,
.by.subcategories
	.categories,
	.subcategories
		display: grid
		grid-template-columns: 1fr 1fr
		gap: .9em
	
	.category,
	.subcategory
		color: $faded-text
		background-color: $faded
		
		padding: 1em 1.2em
		
		.title
			font-size: .9em
			text-transform: capitalize
			font-family: 'Roboto', sans-serif
			font-weight: 600
		
		.description
			display: none
